<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
        <li><a asp-area="" asp-controller="Welcome" asp-action="Index">Welcome</a></li>
        <li><a asp-area="" asp-controller="Movies" asp-action="Index">MoviesList</a></li>
    </ul>
</div>